
@{
    ViewBag.Title = "WeatherJS";
}

<h2>WeatherJS</h2>
<p id="name"></p>
<p id="temp"></p>
<p id="humidity"></p>
<button>Get Weather</button>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.get("http://api.openweathermap.org/data/2.5/weather?q=Cleveland&APPID=ac5023b431549318bd42a0683808c501&units=imperial", function (response) {
                //response
                $("#name").text(response.name);
                $("#temp").text(response.main.temp);
                $("#humidity").text(response.main.humidity);
                console.log(response);
            });
        });
    });
</script>

